.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #054688;
  }
  
  .logo_start {
    width: 20rem; /* Adjust size as needed */
    height: 20rem; /* Adjust size as needed */
    margin: 30px;
    border-radius: 50%;
  }
  
  .loading-spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid rgb(237, 75, 75); 
    border-radius: 50%;
    width: 8rem; /* Adjust size as needed */
    height: 8rem; /* Adjust size as needed */
    animation: spin 1s linear infinite; /* Spin animation */
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  